/* Estilização */
body {
  margin: auto;
  background-image: url('e230f59a5922574a0731061323b3a41d.jpg');
  background-size: cover;
  padding: 5px;
  text-align: center;  
}

header {
  border: solid silver;
  padding: 10px;
  background-color: darkred;
  font-size: x-large;
  margin: auto;  
}

#title {
  color: whitesmoke;
}

#color-palette {
  height: 40px;
  margin-bottom: 10px;
}

.color {
  border: solid black;
  border-width: 1px;
  height: 40px;
  width: 40px;
}

#pixel-board {
  /* margin-top: 50px;
  margin-bottom: 10px; */
  margin: 5%;
  margin: auto;
  border-collapse: collapse;
}

.pixel {
  border: solid black;
  background-color: white;
  border-width: 1px;
  height: 40px;
  width: 40px;
  /* min-height: 40px;
  max-height: 40px;
  min-width: 40px;
  max-width: 40px; */  
}

#clear-board {
  margin-top: 10px;
}

button {
  border-radius: 10px;
  max-width: 50%;
}

#board-size {
  max-width: 115px;
  border-radius: 10px;
}

footer {
  background-color: darkred;
  /* padding: 5px; */
  border: solid silver;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: auto;
  margin-top: 50px;
  /* display: flex;
  align-self: flex-end; */
}

table {
  margin: auto;
  text-align: center;
}

h4 {
  color: silver;
  font-weight: 900;
  text-align: center;
}

.table-container {
  height: 80%;
}
